.node {
   width: 25px;
   height: 25px;
   box-sizing: border-box;

   background-color: #ffffff;

   border-top: 1px solid #d9e0ea;
   border-left: 1px solid #d9e0ea;
}

.node.right-edge {
   border-right: 1px solid #d9e0ea;
}

.node.bottom-edge {
   border-bottom: 1px solid #d9e0ea;
}

/* Visited */
.node.visited {
   background-color: #dbeafe;
   border-color: #ffffff;
}

/* Active */
.node.active {
   background-color: #6366f1;
   border-color: #ffffff;
}

/* Shortest path */
.node.shortest-path {
   background-color: #facc15;
   border-color: #ffffff;
}

/* Start */
.node.start {
   background-color: #10b981;
   border-color: #ffffff;
}

/* End */
.node.end {
   background-color: #f43f5e;
   border-color: #ffffff;
}

/* Wall */
.node.wall {
   background-color: #334155;
   border-color: #ffffff;
}
