.node {
   width: 25px;
   height: 25px;
   border-top: 1px solid black;
   border-left: 1px solid black;
}

/*Seperate edge styling*/
.node.right-edge {
   border-right: 1px solid black;
}

.node.bottom-edge {
   border-bottom: 1px solid black;
}

.node.start {
   background-color: green;
}

.node.end {
   background-color: red;
}

.node.visited {
   background-color: blue;
}

.node.shortest-path {
   background-color: yellow;
}

.node.wall {
   background-color: rgb(56, 56, 74);
}
