.grid {
   display: grid;
   grid-template-columns: repeat(var(--cols), 25px);

   width: fit-content;
   margin: 24px auto;

   background-color: #f8fafc;

   border: 1px solid #cbd5e1;
   border-radius: 5px;

   overflow: hidden;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}
